<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.shuiruyi.mapper.CompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.shuiruyi.model.CompanyInfo">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_status" jdbcType="VARCHAR" property="companyStatus" />
    <result column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="free_delivery" jdbcType="INTEGER" property="freeDelivery" />
    <result column="include_cancel" jdbcType="VARCHAR" property="includeCancel" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="boss_name" jdbcType="VARCHAR" property="bossName" />
    <result column="boss_id" jdbcType="VARCHAR" property="bossId" />
    <result column="boss_contact" jdbcType="VARCHAR" property="bossContact" />
    <result column="boss_id_pic_up" jdbcType="VARCHAR" property="bossIdPicUp" />
    <result column="boss_id_pic_back" jdbcType="VARCHAR" property="bossIdPicBack" />
    <result column="cfo_name" jdbcType="VARCHAR" property="cfoName" />
    <result column="cfo_id" jdbcType="VARCHAR" property="cfoId" />
    <result column="cfo_contact" jdbcType="VARCHAR" property="cfoContact" />
    <result column="cfo_id_pic_up" jdbcType="VARCHAR" property="cfoIdPicUp" />
    <result column="cfo_id_pic_back" jdbcType="VARCHAR" property="cfoIdPicBack" />
    <result column="register_area" jdbcType="VARCHAR" property="registerArea" />
    <result column="trade_flow" jdbcType="VARCHAR" property="tradeFlow" />
    <result column="value_added_rebate_rate" jdbcType="DECIMAL" property="valueAddedRebateRate" />
    <result column="income_rebate_rate" jdbcType="DECIMAL" property="incomeRebateRate" />
  </resultMap>
  <resultMap id="BaseResultDetailMap" type="com.tuozuo.tavern.shuiruyi.model.CompanyDetailInfo">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_status" jdbcType="VARCHAR" property="companyStatus" />
    <result column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_type" jdbcType="VARCHAR" property="companyType" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="free_delivery" jdbcType="INTEGER" property="freeDelivery" />
    <result column="include_cancel" jdbcType="VARCHAR" property="includeCancel" />
    <result column="begin_date" jdbcType="DATE" property="beginDate" />
    <result column="end_date" jdbcType="DATE" property="endDate" />
    <result column="boss_name" jdbcType="VARCHAR" property="bossName" />
    <result column="boss_id" jdbcType="VARCHAR" property="bossId" />
    <result column="boss_contact" jdbcType="VARCHAR" property="bossContact" />
    <result column="boss_id_pic_up" jdbcType="VARCHAR" property="bossIdPicUp" />
    <result column="boss_id_pic_back" jdbcType="VARCHAR" property="bossIdPicBack" />
    <result column="cfo_name" jdbcType="VARCHAR" property="cfoName" />
    <result column="cfo_id" jdbcType="VARCHAR" property="cfoId" />
    <result column="cfo_contact" jdbcType="VARCHAR" property="cfoContact" />
    <result column="cfo_id_pic_up" jdbcType="VARCHAR" property="cfoIdPicUp" />
    <result column="cfo_id_pic_back" jdbcType="VARCHAR" property="cfoIdPicBack" />
    <result column="total_invoice_num" jdbcType="INTEGER" property="totalInvoiceNum" />
    <result column="invoiced_num" jdbcType="INTEGER" property="invoicedNum" />
    <result column="total_invoice_amount" jdbcType="VARCHAR" property="totalInvoiceAmt" />
    <result column="register_area" jdbcType="VARCHAR" property="registerArea" />
    <result column="trade_flow" jdbcType="VARCHAR" property="tradeFlow" />
    <result column="value_added_rebate_rate" jdbcType="DECIMAL" property="valueAddedRebateRate" />
    <result column="income_rebate_rate" jdbcType="DECIMAL" property="incomeRebateRate" />
  </resultMap>
  <select id="selectDetailInfo" resultMap="BaseResultDetailMap">
    select company_id, company_status, custom_id, company_name, company_type, tax, address,
    free_delivery, include_cancel, begin_date, end_date, boss_name, boss_id, boss_contact,
    boss_id_pic_up, boss_id_pic_back, cfo_name, cfo_id, cfo_contact, cfo_id_pic_up, cfo_id_pic_back,
    register_area,trade_flow,value_added_rebate_rate,income_rebate_rate,
	sum(invoice_num) total_invoice_num,sum(invoiced_num) invoiced_num,sum(invoice_amount) total_invoice_amount
	from
    (
       select t.company_id, t.company_status, t.custom_id, t.company_name, t.company_type, t.tax, t.address,
          t.free_delivery, t.include_cancel, t.begin_date, t.end_date, t.boss_name, t.boss_id, t.boss_contact,
          t.boss_id_pic_up, t.boss_id_pic_back, t.cfo_name, t.cfo_id, t.cfo_contact, t.cfo_id_pic_up, t.cfo_id_pic_back,
          t.register_area,t.trade_flow,t.value_added_rebate_rate,t.income_rebate_rate,
           count(t1.invoice_id) invoice_num,count(t1.invoice_id) invoiced_num,sum(invoice_amount) invoice_amount
          from company_info t LEFT JOIN (select * from invoice_info where invoice_status = 3 ) t1 on t.company_id = t1.company_id
              where  t.company_id = #{companyId}
              GROUP BY t.company_id

              union all

              select t.company_id, t.company_status, t.custom_id, t.company_name, t.company_type, t.tax, t.address,
          t.free_delivery, t.include_cancel, t.begin_date, t.end_date, t.boss_name, t.boss_id, t.boss_contact,
          t.boss_id_pic_up, t.boss_id_pic_back, t.cfo_name, t.cfo_id, t.cfo_contact, t.cfo_id_pic_up, t.cfo_id_pic_back,
           t.register_area,t.trade_flow,t.value_added_rebate_rate,t.income_rebate_rate,
          count(t1.invoice_id) invoice_num,0 invoiced_num,sum(invoice_amount) invoice_amount
          from company_info t LEFT JOIN (select * from invoice_info where invoice_status = !3 ) t1 on t.company_id = t1.company_id
          where  t.company_id = #{companyId}
          GROUP BY t.company_id

		) t group by company_id
  </select>

  <select id="selectCompanyList"  resultMap="BaseResultMap">
    select t1.company_id, t1.company_status, t1.custom_id, t1.company_name, t1.company_type, t1.tax, t1.address,
    t1.free_delivery, t1.include_cancel, t1.begin_date, t1.end_date, t1.boss_name, t1.boss_id, t1.boss_contact,
    t1.boss_id_pic_up, t1.boss_id_pic_back, t1.cfo_name, t1.cfo_id, t1.cfo_contact, t1.cfo_id_pic_up, t1.cfo_id_pic_back
    from custom_info t inner  join company_info t1 on t.custom_id = t1.custom_id
    <where>

      <if test="companyId != null and companyId != ''">
       and t1.company_id = #{companyId}
      </if>
      <if test="companyStatus != null and companyStatus != ''">
       and t1.company_status = #{companyStatus}
      </if>
      <if test="customId != null and customId != ''">
        and t1.custom_id = #{customId}
      </if>
      <if test='registerStatus != null and registerStatus == "1"'>
        and (t1.company_status = 'REG_AUDIT_NAME' or t1.company_status = 'REG_AUDIT_TAX')
      </if>
      <if test='registerStatus != null and registerStatus == "2"'>
        and (t1.company_status = 'REG_DONE' or t1.company_status ='SERVICE' or t1.company_status = 'ARREARAGE' or t1.company_status = 'TAX_CANCEL' or t1.company_status = 'BIZ_CANCEL' or t1.company_status = 'FINISH')
      </if>
    </where>
      order by t1.company_name
  </select>
</mapper>