<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.shuiruyi.mapper.ContractTemplateMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.shuiruyi.model.ContractTemplate">
    <id column="contract_template_id" jdbcType="VARCHAR" property="contractTemplateId" />
    <result column="contract_template_name" jdbcType="VARCHAR" property="contractTemplateName" />
    <result column="template_file" jdbcType="VARCHAR" property="templateFile" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select contract_template_id, contract_template_name, template_file
    from contract_template
  </select>
</mapper>