<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.shuiruyi.mapper.ContractInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.shuiruyi.model.ContractInfo">
    <id column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_party_A_name" jdbcType="VARCHAR" property="companyPartyAName" />
    <result column="company_party_B_name" jdbcType="VARCHAR" property="companyPartyBName" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="invoice_pattern" jdbcType="VARCHAR" property="invoicePattern" />
    <result column="contract_file" jdbcType="VARCHAR" property="contractFile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="contract_date" jdbcType="TIMESTAMP" property="contractDate" />
  </resultMap>
  <resultMap id="BaseDetailResultMap" type="com.tuozuo.tavern.shuiruyi.model.ContractDetailInfo">
    <result column="invoice_amount" jdbcType="VARCHAR" property="invoiceAmount" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_party_A_name" jdbcType="VARCHAR" property="companyPartyAName" />
    <result column="company_party_B_name" jdbcType="VARCHAR" property="companyPartyBName" />
    <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    <result column="contract_amount" jdbcType="DECIMAL" property="contractAmount" />
    <result column="invoice_pattern" jdbcType="VARCHAR" property="invoicePattern" />
    <result column="contract_file" jdbcType="VARCHAR" property="contractFile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="contract_date" jdbcType="TIMESTAMP" property="contractDate" />
  </resultMap>
  <select id="selectList" resultMap="BaseDetailResultMap">
    select t3.invoice_amount,t4.contract_id, t4.company_id, t4.company_party_A_name,
    t4.company_party_B_name, t4.contract_name,
    t4.contract_amount, t4.invoice_pattern, t4.contract_file, t4.remark, t4.contract_status,
    t4.contract_date
  from custom_info t1 inner join company_info t2 on t1.custom_id = t2.custom_id
    inner join contract_info t4 on t2.company_id = t4.company_id
    left join invoice_info t3 on t4.contract_id = t3.contract_id
  <where>
    <if test="customId != null and customId != ''">
      and t1.custom_id = #{customId}
    </if>
    <if test="companyId != null and companyId != ''">
      and t2.company_id = #{companyId}
    </if>
  </where>
  order by  t4.contract_date desc
  </select>
  <select id="select" resultMap="BaseDetailResultMap">
    select t3.invoice_amount,t4.contract_id, t4.company_id, t4.company_party_A_name,
    t4.company_party_B_name, t4.contract_name,
    t4.contract_amount, t4.invoice_pattern, t4.contract_file, t4.remark, t4.contract_status,
    t4.contract_date
  from custom_info t1 inner join company_info t2 on t1.custom_id = t2.custom_id
    inner join contract_info t4 on t2.company_id = t4.company_id
    left join invoice_info t3 on t4.contract_id = t3.contract_id
  where
    t4.contract_id = #{contractId}
  </select>
  <select id="fuzzyQuery" resultMap="BaseResultMap">
    select t4.contract_id, t4.company_id, t4.company_party_A_name,
    t4.company_party_B_name, t4.contract_name,
    t4.contract_amount, t4.invoice_pattern, t4.contract_file, t4.remark, t4.contract_status,
    t4.contract_date
    from custom_info t1 inner join company_info t2 on t1.custom_id = t2.custom_id
    inner join contract_info t4 on t2.company_id = t4.company_id
    left join invoice_info t3 on t4.contract_id = t3.contract_id
  <where>
    <if test="customId != null and customId != ''">
      and t1.custom_id = #{customId}
    </if>
    <if test="contractName != null and contractName != ''">
      and t4.contract_name like concat('%', #{contractName}, '%')
    </if>
    <if test="contractStatus != null and contractStatus != ''">
      and t4.contract_status = #{contractStatus}
    </if>
  </where>
    order by  t4.contract_date desc limit #{queryCnt}
  </select>
</mapper>