<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.shuiruyi.mapper.CustomInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.shuiruyi.model.CustomInfo">
    <id column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="custom_pswd" jdbcType="VARCHAR" property="customPswd" />
    <result column="custom_contact" jdbcType="VARCHAR" property="customContact" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="custom_type" jdbcType="VARCHAR" property="customType" />
    <result column="has_paid" jdbcType="VARCHAR" property="hasPaid" />
  </resultMap>
  <resultMap id="BaseDetailResultMap" type="com.tuozuo.tavern.shuiruyi.model.CustomDetailInfo">
    <id column="custom_id" jdbcType="VARCHAR" property="customId" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="custom_pswd" jdbcType="VARCHAR" property="customPswd" />
    <result column="custom_contact" jdbcType="VARCHAR" property="customContact" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="custom_type" jdbcType="VARCHAR" property="customType" />
    <result column="has_paid" jdbcType="VARCHAR" property="hasPaid" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalServerCharge" />
  </resultMap>
  <select id="selectDetailInfo" resultMap="BaseDetailResultMap">
    select t.custom_id, t.custom_name, t.custom_pswd, t.custom_contact, t.balance, t.province, t.update_date,
    t.custom_type, t.has_paid,t1.total_fee
    from custom_info t left join custom_statistic_snapshot t1
    on t.custom_id = t1.custom_id
    where t.custom_id = #{customId,jdbcType=VARCHAR}
  </select>
  <select id="selectCustomInfoList" resultMap="BaseResultMap">
    select custom_id, custom_name, custom_pswd, custom_contact, balance, province, update_date, 
    custom_type, has_paid
    from custom_info
    <where>
      <if test="customName != null and customName != ''">
        custom_name = #{customName}
      </if>
      <if test="hasPaid != null and hasPaid != ''">
       and has_paid = #{hasPaid}
      </if>
    </where>
    order by custom_name
  </select>
</mapper>