<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.shuiruyi.mapper.InvoiceInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.shuiruyi.model.InvoiceInfo">
    <id column="invoice_id" jdbcType="VARCHAR" property="invoiceId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="invoice_type" jdbcType="VARCHAR" property="invoiceType" />
    <result column="invoice_amount" jdbcType="DECIMAL" property="invoiceAmount" />
    <result column="recv_amount" jdbcType="DECIMAL" property="recvAmount" />
    <result column="tax" jdbcType="DECIMAL" property="tax" />
    <result column="invoice_status" jdbcType="VARCHAR" property="invoiceStatus" />
    <result column="recv_date" jdbcType="DATE" property="recvDate" />
    <result column="invoice_content" jdbcType="VARCHAR" property="invoiceContent" />
    <result column="delivery_id" jdbcType="VARCHAR" property="deliveryId" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="bank_flow_file" jdbcType="VARCHAR" property="bankFlowFile" />
    <result column="auth_letter_file" jdbcType="VARCHAR" property="authLetterFile" />
    <result column="contract_id" jdbcType="VARCHAR" property="contractId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from invoice_info
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuozuo.tavern.shuiruyi.model.InvoiceInfo">
    insert into invoice_info (invoice_id, company_id, invoice_type, 
      invoice_amount, recv_amount, tax, 
      invoice_status, recv_date, invoice_content, 
      delivery_id, remark, bank_flow_file, 
      auth_letter_file, contract_id)
    values (#{invoiceId,jdbcType=VARCHAR}, #{companyId,jdbcType=VARCHAR}, #{invoiceType,jdbcType=VARCHAR}, 
      #{invoiceAmount,jdbcType=DECIMAL}, #{recvAmount,jdbcType=DECIMAL}, #{tax,jdbcType=DECIMAL}, 
      #{invoiceStatus,jdbcType=VARCHAR}, #{recvDate,jdbcType=DATE}, #{invoiceContent,jdbcType=VARCHAR}, 
      #{deliveryId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{bankFlowFile,jdbcType=VARCHAR}, 
      #{authLetterFile,jdbcType=VARCHAR}, #{contractId,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuozuo.tavern.shuiruyi.model.InvoiceInfo">
    update invoice_info
    set company_id = #{companyId,jdbcType=VARCHAR},
      invoice_type = #{invoiceType,jdbcType=VARCHAR},
      invoice_amount = #{invoiceAmount,jdbcType=DECIMAL},
      recv_amount = #{recvAmount,jdbcType=DECIMAL},
      tax = #{tax,jdbcType=DECIMAL},
      invoice_status = #{invoiceStatus,jdbcType=VARCHAR},
      recv_date = #{recvDate,jdbcType=DATE},
      invoice_content = #{invoiceContent,jdbcType=VARCHAR},
      delivery_id = #{deliveryId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      bank_flow_file = #{bankFlowFile,jdbcType=VARCHAR},
      auth_letter_file = #{authLetterFile,jdbcType=VARCHAR},
      contract_id = #{contractId,jdbcType=VARCHAR}
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select invoice_id, company_id, invoice_type, invoice_amount, recv_amount, tax, invoice_status, 
    recv_date, invoice_content, delivery_id, remark, bank_flow_file, auth_letter_file, 
    contract_id
    from invoice_info
    where invoice_id = #{invoiceId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select invoice_id, company_id, invoice_type, invoice_amount, recv_amount, tax, invoice_status, 
    recv_date, invoice_content, delivery_id, remark, bank_flow_file, auth_letter_file, 
    contract_id
    from invoice_info
  </select>
</mapper>