<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.organ.biz.mapper.CompanyNameRecordMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.organ.biz.model.CompanyNameRecord">
    <id column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <id column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <insert id="mergeBatch" parameterType="list">
    insert into company_name_record (pinyin, full_name, `name`,
    area, industry, `type`,
    update_date)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.pinyin,jdbcType=VARCHAR}, #{item.fullName,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR},
      #{item.area,jdbcType=VARCHAR}, #{item.industry,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR},
      now()
      )
    </foreach>

    ON DUPLICATE KEY UPDATE

    `name`=VALUES(`name`),
    area=VALUES(area),
    industry=VALUES(industry),
    `type`=VALUES(`type`),
    update_date=now()
  </insert>
</mapper>