<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.organ.biz.mapper.CompanyNameRecordMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.organ.biz.model.CompanyNameRecord">
    <id column="pinyin" jdbcType="VARCHAR" property="pinyin" />
    <id column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="industry" jdbcType="VARCHAR" property="industry" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from company_name_record
    where pinyin = #{pinyin,jdbcType=VARCHAR}
      and full_name = #{fullName,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuozuo.tavern.organ.biz.model.CompanyNameRecord">
    insert into company_name_record (pinyin, full_name, name, 
      area, industry, type, 
      update_date)
    values (#{pinyin,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{area,jdbcType=VARCHAR}, #{industry,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuozuo.tavern.organ.biz.model.CompanyNameRecord">
    update company_name_record
    set name = #{name,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      industry = #{industry,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where pinyin = #{pinyin,jdbcType=VARCHAR}
      and full_name = #{fullName,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select pinyin, full_name, name, area, industry, type, update_date
    from company_name_record
    where pinyin = #{pinyin,jdbcType=VARCHAR}
      and full_name = #{fullName,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select pinyin, full_name, name, area, industry, type, update_date
    from company_name_record
  </select>
</mapper>