<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.BankInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.BankInfo">
    <id column="bank_code" jdbcType="VARCHAR" property="bankCode" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_parent_code" jdbcType="VARCHAR" property="bankParentCode" />
  </resultMap>
  <select id="selectList" resultMap="BaseResultMap">
    select  bank_code, bank_name, bank_parent_code
    from bank_info
    where
      <if test="bankCode != null and bankCode != ''">
         bank_parent_code = #{bankCode}
      </if>
      <if test="bankCode == null or  bankCode == '' ">
        length(bank_parent_code) = 0
      </if>
  </select>
</mapper>