<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.BusinessDictMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.BusinessDict">
    <id column="business_id" jdbcType="VARCHAR" property="businessId" />
    <id column="business_group" jdbcType="VARCHAR" property="businessGroup" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
  </resultMap>
  <select id="selectIndustryType" parameterType="map" resultMap="BaseResultMap">
    select t1.business_id,t1.business_name from business_dict t1 LEFT JOIN project_info t2
    on t1.business_id = t2.project_industry
    where t1.business_group = 'industryType'
    group by  business_id order by count(1) desc
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select business_id, business_group, business_name
    from business_dict
  </select>
</mapper>