<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.CompanyInfoExtMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.CompanyInfoExt">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="file_biz_license" jdbcType="VARCHAR" property="fileBizLicense" />
    <result column="legal_person_identity" jdbcType="VARCHAR" property="legalPersonIdentity" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="file_legal_person_idcard_up" jdbcType="VARCHAR" property="fileLegalPersonIdcardUp" />
    <result column="file_legal_person_idcard_back" jdbcType="VARCHAR" property="fileLegalPersonIdcardBack" />
    <result column="company_bank_account" jdbcType="VARCHAR" property="companyBankAccount" />
    <result column="company_bank" jdbcType="VARCHAR" property="companyBank" />
    <result column="company_branch_bank" jdbcType="VARCHAR" property="companyBranchBank" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <resultMap id="BaseDetailMap" type="com.tuozuo.tavern.xinruyi.model.CompanyInfoExt">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="file_biz_license" jdbcType="VARCHAR" property="fileBizLicense" />
    <result column="legal_person_identity" jdbcType="VARCHAR" property="legalPersonIdentity" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="legalPersonName" />
    <result column="file_legal_person_idcard_up" jdbcType="VARCHAR" property="fileLegalPersonIdcardUp" />
    <result column="file_legal_person_idcard_back" jdbcType="VARCHAR" property="fileLegalPersonIdcardBack" />
    <result column="company_bank_account" jdbcType="VARCHAR" property="companyBankAccount" />
    <result column="company_bank" jdbcType="VARCHAR" property="companyBank" />
    <result column="company_branch_bank" jdbcType="VARCHAR" property="companyBranchBank" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="bank_branch_name" jdbcType="VARCHAR" property="bankBranchName" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <insert id="insertOrUpdate" parameterType="com.tuozuo.tavern.xinruyi.model.CompanyInfoExt">
    insert into company_info_ext (company_id, file_biz_license, legal_person_identity, 
      legal_person_name, file_legal_person_idcard_up, 
      file_legal_person_idcard_back, company_bank_account, 
      company_bank,company_branch_bank, contact_name, contact_phone,
      remark)
    values (#{companyId,jdbcType=VARCHAR}, #{fileBizLicense,jdbcType=VARCHAR}, #{legalPersonIdentity,jdbcType=VARCHAR}, 
      #{legalPersonName,jdbcType=VARCHAR}, #{fileLegalPersonIdcardUp,jdbcType=VARCHAR}, 
      #{fileLegalPersonIdcardBack,jdbcType=VARCHAR}, #{companyBankAccount,jdbcType=VARCHAR},
      #{companyBank,jdbcType=VARCHAR},#{companyBranchBank,jdbcType=VARCHAR}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR},
      #{remark,jdbcType=VARCHAR})

    ON DUPLICATE KEY UPDATE
    <if test="fileBizLicense != null">
      file_biz_license=VALUES(file_biz_license),
    </if>
    <if test="legalPersonIdentity != null">
      legal_person_identity=VALUES(legal_person_identity),
    </if>
    <if test="legalPersonName != null and legalPersonName != ''">
      legal_person_name=VALUES(legal_person_name),
    </if>
    <if test="fileLegalPersonIdcardUp != null">
      file_legal_person_idcard_up=VALUES(file_legal_person_idcard_up),
    </if>
    <if test="fileLegalPersonIdcardBack != null">
      file_legal_person_idcard_back=VALUES(file_legal_person_idcard_back),
    </if>
    <if test="companyBankAccount != null and companyBankAccount != ''">
      company_bank_account=VALUES(company_bank_account),
    </if>
    <if test="companyBank != null and companyBank != ''">
      company_bank=VALUES(company_bank),
    </if>
    <if test="companyBranchBank != null and companyBranchBank != ''">
      company_branch_bank=VALUES(company_branch_bank),
    </if>
    <if test="contactName != null and contactName != ''">
      contact_name=VALUES(contact_name),
    </if>
    <if test="contactPhone != null and contactPhone != ''">
      contact_phone=VALUES(contact_phone)
    </if>
    <if test="remark != null and remark != ''">
      remark=VALUES(remark)
    </if>
  </insert>
  <select id="select" resultMap="BaseDetailMap">
    select t1.company_id, t1.file_biz_license, t1.legal_person_identity, t1.legal_person_name, t1.file_legal_person_idcard_up,
    t1.file_legal_person_idcard_back, t1.company_bank_account, t1.company_bank,t1.company_branch_bank, t1.contact_name,
    t1.contact_phone, t1.remark,t2.register_id,t2.company_name,t3.bank_name,t4.bank_name bank_branch_name
    from company_info_ext t1 LEFT JOIN bank_info t3 on t1.company_bank = t3.bank_code LEFT JOIN bank_info t4 on t1.company_branch_bank = t4.bank_code,company_info t2
    where t1.company_id = t2.company_id
    and t1.company_id = #{companyId}
  </select>
</mapper>