<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.CompanyInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.CompanyInfo">
    <id column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_industry" jdbcType="VARCHAR" property="companyIndustry" />
    <result column="province" jdbcType="VARCHAR" property="province"/>
    <result column="city" jdbcType="VARCHAR" property="city"/>
    <result column="district" jdbcType="VARCHAR" property="district"/>
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
  </resultMap>
</mapper>