<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.EventFinishListMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.EventFinishList">
    <result column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_owner" jdbcType="VARCHAR" property="eventOwner" />
    <result column="event_date" jdbcType="DATE" property="eventDate" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="payment_id" jdbcType="VARCHAR" property="paymentId" />
  </resultMap>
  <insert id="insert" parameterType="com.tuozuo.tavern.xinruyi.model.EventFinishList">
    insert into event_finish_list (event_id, event_type, event_owner, 
      event_date, company_id, project_id, 
      staff_id, payment_id)
    values (#{eventId,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, #{eventOwner,jdbcType=VARCHAR}, 
      #{eventDate,jdbcType=DATE}, #{companyId,jdbcType=VARCHAR}, #{projectId,jdbcType=VARCHAR}, 
      #{staffId,jdbcType=VARCHAR}, #{paymentId,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select event_id, event_type, event_owner, event_date, company_id, project_id, staff_id, 
    payment_id
    from event_finish_list
  </select>
</mapper>