<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.EventFinishListMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.EventFinishList">
    <id column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_owner_id" jdbcType="VARCHAR" property="eventOwnerId" />
    <result column="event_date" jdbcType="TIMESTAMP" property="eventDate" />
    <result column="snapshot" jdbcType="VARCHAR" property="snapshot" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="event_owner_name" jdbcType="VARCHAR" property="eventOwnerName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="applyDate" jdbcType="VARCHAR" property="applyDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="finishDate" jdbcType="VARCHAR" property="finishDate" />
  </resultMap>
  <select id="selectEventList" resultMap="BaseResultMap">
    select t1.event_id,
    t1.event_type,
    t1.event_owner_id,
    t1.event_date,
    t1.snapshot,
    t1. project_id,
    t1.role,
    t1.event_owner_name,
    t2.company_id,t2.company_name,
    t1.status,
    t3.project_name,t1.event_owner_name ,date_format(t1.event_date ,'%Y%m%d') applyDate,t1.event_owner_name applicant,
    date_format(t1.update_date ,'%Y%m%d') finishDate
    from event_finish_list t1 LEFT JOIN project_info t3 on t1.project_id = t3.project_id left JOIN company_info t2 on (t1.register_id = t2.register_id or t1.company_id = t2.company_id)
    <where>
      t1.role = #{role}
      <if test="companyId != null and companyId != ''">
        and t1.company_id = #{companyId}
      </if>
      <if test="projectId != null and projectId != ''">
        and t1.project_id = #{projectId}
      </if>
      <if test="eventId != null and eventId != ''">
        and t1.event_type = #{eventId}
      </if>
    </where>
    order by t1.update_date desc
  </select>
</mapper>