<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.EventTodoListMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.EventTodoList">
    <id column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_owner" jdbcType="VARCHAR" property="eventOwner" />
    <result column="event_date" jdbcType="DATE" property="eventDate" />
    <result column="snapshot" jdbcType="VARCHAR" property="snapshot" />
  </resultMap>
  <resultMap id="BaseProjectResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectEventInfo">

    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="event_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="status" jdbcType="VARCHAR" property="projectStatus" />
    <result column="fee" jdbcType="DECIMAL" property="rate" />
    <result column="project_industry" jdbcType="VARCHAR" property="industryType" />
    <result column="period" jdbcType="VARCHAR" property="projectCycle" />
    <result column="publish_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="project_member_count" jdbcType="DECIMAL" property="staffNum" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="on_spot" jdbcType="VARCHAR" property="isOnSite" />
    <result column="contract_person" jdbcType="VARCHAR" property="contactName" />
    <result column="contract_phone" jdbcType="VARCHAR" property="contact" />
    <result column="file_material" jdbcType="VARCHAR" property="projectFile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="snapshot" jdbcType="VARCHAR" property="snapshot" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">
    select event_id, event_type, event_owner, event_date, snapshot
    from event_todo_list
  </select>

  <select id="selectProjects" resultMap="BaseProjectResultMap">
    select t1.company_id,t3.company_name,t2.project_id,t2.project_name,
    date_format(t1.event_date ,'%Y%m%d') event_date,t2.`status`,t2.fee,t2.project_industry,
    t2.period,date_format(t2.publish_date ,'%Y%m%d') publish_date,t2.project_member_count,
    t2.province,t2.city,t2.district,t2.contract_phone,t2.contract_person,t2.on_spot,t2.file_material,t2.remark,
    t1.event_type,t1.snapshot

    from event_todo_list t1,project_info t2,company_info t3
    <where>
      t1.project_id = t2.project_id
      and t1.company_id = t3.company_id
      <if test="projectId != null and projectId != ''">
        and  t1.project_id = #{projectId}
      </if>
      <if test="companyId != null and companyId != ''">
        and  t1.company_id = #{companyId}
      </if>
      <if test="status != null and status != ''">
        and  t2.status = #{status}
      </if>
      <if test="beginDate != null and beginDate != ''">
        and  t1.event_date >= STR_TO_DATE(#{beginDate}, '%Y%m%d')
      </if>
      <if test="endDate != null and endDate != ''">
        and  t1.event_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate}, '%Y%m%d')
      </if>
    </where>
  </select>
</mapper>