<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.EventTodoListMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.EventTodoList">
    <id column="event_id" jdbcType="VARCHAR" property="eventId" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="event_owner_id" jdbcType="VARCHAR" property="eventOwnerId" />
    <result column="event_date" jdbcType="TIMESTAMP" property="eventDate" />
    <result column="snapshot" jdbcType="VARCHAR" property="snapshot" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="event_owner_name" jdbcType="VARCHAR" property="eventOwnerName" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="applicant" jdbcType="VARCHAR" property="applicant" />
    <result column="applyDate" jdbcType="VARCHAR" property="applyDate" />
  </resultMap>
  <resultMap id="BaseProjectResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectEventInfo">

    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="event_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="status" jdbcType="VARCHAR" property="projectStatus" />
    <result column="fee" jdbcType="DECIMAL" property="rate" />
    <result column="project_industry" jdbcType="VARCHAR" property="industryType" />
    <result column="period" jdbcType="VARCHAR" property="projectCycle" />
    <result column="publish_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="project_member_count" jdbcType="DECIMAL" property="staffNum" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="on_spot" jdbcType="VARCHAR" property="isOnSite" />
    <result column="contract_person" jdbcType="VARCHAR" property="contactName" />
    <result column="contract_phone" jdbcType="VARCHAR" property="contact" />
    <result column="file_material" jdbcType="VARCHAR" property="projectFile" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="snapshot" jdbcType="VARCHAR" property="snapshot" />
  </resultMap>
  <resultMap id="BaseCompanyResultMap" type="com.tuozuo.tavern.xinruyi.model.CompanyEventInfo">
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_industry" jdbcType="VARCHAR" property="industryType" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="district" jdbcType="VARCHAR" property="district" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contact" />
    <result column="event_date" jdbcType="VARCHAR" property="applyDate" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="file_biz_license" jdbcType="VARCHAR" property="businessLicense" />
    <result column="legal_person_name" jdbcType="VARCHAR" property="bossName" />
    <result column="legal_person_identity" jdbcType="VARCHAR" property="bossId" />
    <result column="file_legal_person_idcard_up" jdbcType="VARCHAR" property="bossIdPicUp" />
    <result column="file_legal_person_idcard_back" jdbcType="VARCHAR" property="bossIdPicBack" />
    <result column="company_bank_account" jdbcType="VARCHAR" property="companyAccount" />
    <result column="company_branch_bank" jdbcType="VARCHAR" property="companyAccountBank" />
    <result column="contact_name" jdbcType="VARCHAR" property="contactName" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <select id="selectList" resultMap="BaseResultMap">
    select t1.event_id,
      t1.event_type,
      t1.event_owner_id,
      t1.event_date,
      t1.snapshot,
      t1.company_id,
      t1. project_id,
      t1.role,
      t1.event_owner_name,
      t2.company_id,t2.company_name,
      t3.project_name,t1.event_owner_name ,date_format(t1.event_date ,'%Y%m%d') applyDate,t1.event_owner_name applicant
      from event_todo_list t1 LEFT JOIN project_info t3 on t1.project_id = t3.project_id,company_info t2
      <where>
          t1.company_id = t2.company_id
          <if test="companyId != null and companyId != ''">
             and t1.company_id = #{companyId}
          </if>
          <if test="projectId != null and projectId != ''">
            and t1.project_id = #{projectId}
          </if>
          <if test="eventId != null and eventId != ''">
            and  t1.event_type = #{eventId}
          </if>
      </where>
  </select>

  <select id="selectProjects" resultMap="BaseProjectResultMap">
    select t1.company_id,t3.company_name,t2.project_id,t2.project_name,
    date_format(t1.event_date ,'%Y%m%d') event_date,t2.`status`,t2.fee,t2.project_industry,
    t2.period,date_format(t2.publish_date ,'%Y%m%d') publish_date,t2.project_member_count,
    t2.province,t2.city,t2.district,t2.contract_phone,t2.contract_person,t2.on_spot,t2.file_material,t2.remark,
    t1.event_type,t1.snapshot

    from project_info t2 LEFT JOIN event_todo_list t1 on  t1.project_id = t2.project_id,company_info t3
    <where>
      t1.company_id = t3.company_id
      <if test="projectId != null and projectId != ''">
        and  t1.project_id = #{projectId}
      </if>
      <if test="companyId != null and companyId != ''">
        and  t1.company_id = #{companyId}
      </if>
      <if test="status != null and status != ''">
        and  t2.status = #{status}
      </if>
      <if test="beginDate != null and beginDate != ''">
        and  t1.event_date >= STR_TO_DATE(#{beginDate}, '%Y%m%d')
      </if>
      <if test="endDate != null and endDate != ''">
        and  t1.event_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate}, '%Y%m%d')
      </if>
    </where>
  </select>
  <select id="selectCompanies" resultMap="BaseCompanyResultMap">
    select
    t1.company_id,
    t1.company_name,
    t1.company_industry,
    t1.province,
    t1.city,
    t1.district,
    t2.contact_phone,
    date_format(t3.event_date ,'%Y%m%d') event_date,
    t1.`status`,
    t2.file_biz_license,
    t2.legal_person_name,
    t2.legal_person_identity,
    t2.file_legal_person_idcard_up,
    t2.file_legal_person_idcard_back,
    t2.company_bank_account,
    t2.company_branch_bank,
    t2.contact_name,
    t2.remark

    from company_info t1,company_info_ext t2 LEFT JOIN event_todo_list t3 on t2.company_id = t3.company_id

  <where>
    t1.company_id = t2.company_id
    and length(t3.project_id) = 0
    <if test="industryId != null and industryId != ''">
        and  t1.company_industry = #{industryId}
      </if>
      <if test="companyId != null and companyId != ''">
        and  t1.company_id = #{companyId}
      </if>
      <if test="province != null and province != ''">
        and  t1.province = #{province}
      </if>
      <if test="city != null and city != ''">
        and  t1.city = #{city}
      </if>
      <if test="district != null and district != ''">
        and  t1.district = #{district}
      </if>
      <if test="status != null and status != ''">
        and  t1.status = #{status}
      </if>
      <if test="beginDate != null and beginDate != ''">
        and  t3.event_date >= STR_TO_DATE(#{beginDate}, '%Y%m%d')
      </if>
      <if test="endDate != null and endDate != ''">
        and  t3.event_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate}, '%Y%m%d')
      </if>
    </where>
  </select>
  <select id="">
    select t2.company_id,t2.company_name,t1.event_type,
    t3.project_name,t1.event_owner_name applicant,date_format(t1.event_date ,'%Y%m%d') event_date,t1.`snapshot`
    from event_todo_list t1 LEFT JOIN project_info t3 on t1.project_id = t3.project_id,company_info t2
    where t1.company_id = t2.company_id
  </select>

</mapper>