<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectPaymentMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectPayment">
    <id column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="file_voucher" jdbcType="VARCHAR" property="fileVoucher" />
    <result column="file_pay_cert" jdbcType="VARCHAR" property="filePayCert" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="total_salary" jdbcType="DECIMAL" property="totalSalary" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <select id="selectByPage" resultMap="BaseResultMap">
    select t2.company_name,t3.project_name,payment_id, t1.company_id, t1.project_id, t1.period,
    file_voucher, file_pay_cert, t1.status,total_salary,pay_date
    from project_payment t1,company_info t2,project_info t3
    <where>
      t1.company_id = t2.company_id
      and t1.project_id = t3.project_id
      <if test="companyId != null and companyId != ''">
        and t1.company_id = #{companyId}
      </if>
      <if test="projectId != null and projectId != ''">
        and t1.project_id = #{projectId}
      </if>
      <if test="status != null and status != ''">
        and t1.status = #{status}
      </if>
    </where>
    order by pay_date desc
  </select>
</mapper>