<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectStaffMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectStaff">
    <id column="project_id" jdbcType="VARCHAR" property="projectId" />
    <id column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="is_signed" jdbcType="VARCHAR" property="isSigned" />
    <result column="enter_date" jdbcType="DATE" property="enterDate" />
    <result column="quit_date" jdbcType="DATE" property="quitDate" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_settled" jdbcType="VARCHAR" property="isSettled" />
    <result column="quit_reason" jdbcType="VARCHAR" property="quitReason" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
  </resultMap>
  <resultMap id="BaseProjectStaffMap" type="com.tuozuo.tavern.xinruyi.model.ProjectStaffInfo">
    <result column="staff_id" jdbcType="VARCHAR" property="id" />
    <result column="id_number" jdbcType="VARCHAR" property="idNo" />
    <result column="staff_name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="enter_date" jdbcType="VARCHAR" property="beginDate" />
    <result column="quit_date" jdbcType="VARCHAR" property="endDate" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="status" jdbcType="VARCHAR" property="quit" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_signed" jdbcType="VARCHAR" property="isSigned" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select project_id, staff_id, is_signed, enter_date, quit_date, salary, status, remark, 
    is_settled, quit_reason, staff_name
    from project_staff
    where project_id = #{projectId,jdbcType=VARCHAR}
      and staff_id = #{staffId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select project_id, staff_id, is_signed, enter_date, quit_date, salary, status, remark, 
    is_settled, quit_reason, staff_name
    from project_staff
  </select>
  <select id="selectProjectStaffInfo" resultMap="BaseProjectStaffMap">
    select
    t1.staff_id,t1.id_number,t1.staff_name,t1.gender,
    t2.salary,date_format(t2.enter_date ,'%Y-%m-%d') enter_date,
    date_format(t2.quit_date ,'%Y-%m-%d') quit_date,is_valid,
    case t2.`status` when '0' then '0' when '1' then '1' else '1' end status ,
    t2.remark,t2.is_signed
    from staff_resource_pool t1,project_staff t2
    where t1.staff_id = t2.staff_id
    and t2.project_id = #{projectId}
    and t1.company_id = #{companyId}
    and t2.status = '2'
  </select>
</mapper>