<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectInfoMapper">
    <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectInfo">
        <id column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="project_industry" jdbcType="VARCHAR" property="projectIndustry"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="publish_date" jdbcType="DATE" property="publishDate"/>
        <result column="period" jdbcType="DECIMAL" property="period"/>
        <result column="contract_person" jdbcType="VARCHAR" property="contractPerson"/>
        <result column="contract_phone" jdbcType="VARCHAR" property="contractPhone"/>
        <result column="project_member_count" jdbcType="DECIMAL" property="projectMemberCount"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="district" jdbcType="VARCHAR" property="district"/>
        <result column="on_spot" jdbcType="VARCHAR" property="onSpot"/>
        <result column="file_material" jdbcType="VARCHAR" property="fileMaterial"/>
        <result column="project_desc" jdbcType="VARCHAR" property="projectDesc"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="fee" jdbcType="DECIMAL" property="fee"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="budget" jdbcType="VARCHAR" property="budget"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
    </resultMap>
    <resultMap id="IndustryProjectMap" type="com.tuozuo.tavern.xinruyi.model.IndustryProjectInfo">
        <result column="project_id" jdbcType="VARCHAR" property="projectId"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="company_name" jdbcType="VARCHAR" property="companyName"/>
        <result column="company_logo" jdbcType="VARCHAR" property="companyLogo"/>
        <result column="project_name" jdbcType="VARCHAR" property="projectName"/>
        <result column="project_desc" jdbcType="VARCHAR" property="projectDesc"/>
        <result column="project_member_count" jdbcType="DECIMAL" property="staffNum"/>
        <result column="project_joined_count" jdbcType="DECIMAL" property="joinedNum"/>
        <result column="publish_date" jdbcType="VARCHAR" property="publishDate"/>
        <result column="status" jdbcType="VARCHAR" property="projectStatus"/>
    </resultMap>

    <select id="selectByProjectId" resultMap="BaseResultMap">
        select t1.project_id,t1.project_name, t1.company_id, t1.project_industry, t1.publish_date, t1.period, t1.contract_person,
        t1.contract_phone, t1.project_member_count, t1.province,t1.city,t1.district, t1.on_spot, t1.file_material, t1.project_desc,
        t1.remark, t1.fee, t1.status, t1.budget,t2.company_name
        from project_info t1 ,company_info t2
        <where>
            t1.company_id = t2.company_id
            and  t1.project_id = #{projectId}
        </where>
    </select>


    <select id="selectProjectPage" resultMap="BaseResultMap">
        select t1.project_id,t1.project_name, t1.company_id, t1.project_industry, t1.publish_date, t1.period, t1.contract_person,
        t1.contract_phone, t1.project_member_count, t1.province,t1.city,t1.district, t1.on_spot, t1.file_material, t1.project_desc,
        t1.remark, t1.fee, t1.status, t1.budget,t2.company_name
        from project_info t1 ,company_info t2
        <where>
            t1.company_id = t2.company_id
            <if test="companyId != null and companyId != ''">
                and t1.company_id = #{companyId}
            </if>
            <if test="projectId != null and projectId != ''">
              and  t1.project_id = #{projectId}
            </if>
            <if test="industryType != null and industryType != ''">
                and  t1.project_industry = #{industryType}
            </if>
            <if test="downLimitBudget != null and downLimitBudget != ''">
                and t1. budget >= #{downLimitBudget}
            </if>
            <if test="upperLimitBudget != null and upperLimitBudget != ''">
                and t1.budget <![CDATA[ <= ]]> #{upperLimitBudget}
            </if>
            <if test="requirementStatus != null and requirementStatus != ''">
                and  t1.status = #{requirementStatus}
            </if>
            <if test="beginDate != null and beginDate != ''">
                and t1. publish_date >= STR_TO_DATE(#{beginDate}, '%Y%m%d')
            </if>
            <if test="endDate != null and endDate != ''">
                and t1.publish_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate}, '%Y%m%d')
            </if>
        </where>
    </select>

    <update id="updateStatus">
        update project_info t set t.`status` = '5' where t.publish_date <![CDATA[ <= ]]> now() and ( t.`status` = '3' or t.`status` = '6')
        and t.`status` != '5'

    </update>

    <select id="selectIndustryProjectPage" resultMap="IndustryProjectMap">
        select
            t2.project_id,
            t3.company_id,
            t3.company_name,
            t3.logo,
            t2.project_name,
            t2.project_desc,
            t2.project_member_count,
            IFNULL(t4.cnt ,0) project_joined_count,
            DATE_FORMAT(t2.publish_date,'%Y%m%d') publish_date,
            t2.status
        from project_info t2  LEFT JOIN (select count(1) cnt,t3.project_id from worker_info t1,worker_staff_rel t2,project_staff t3
        where t1.register_id = t2.register_id
        and t2.staff_id = t3.staff_id
        and t3.is_signed = '1'
        group by project_id) t4 on t2.project_id = t4.project_id,company_info t3
        <where>
            t2.company_id = t3.company_id
            and t2.status not in ('1','6','7')
            and t2.project_industry = #{industryId}
            and
            (
            t2.publish_date <![CDATA[ < ]]> STR_TO_DATE(#{publishDate}, '%Y%m%d')
            or (t2.publish_date = STR_TO_DATE(#{publishDate}, '%Y%m%d') and t2.project_id <![CDATA[ < ]]> #{projectId,jdbcType=VARCHAR})
            )
        </where>
        order by t2.publish_date desc
        limit 0,20

    </select>
    <select id="selectIndustryProject" resultMap="IndustryProjectMap">
        select
            t2.project_id,
            t3.company_id,
            t3.company_name,
            t3.logo,
            t2.project_name,
            t2.project_desc,
            t2.project_member_count,
            IFNULL(t4.cnt ,0) project_joined_count,
            DATE_FORMAT(t2.publish_date,'%Y%m%d') publish_date,
            t2.status
        from project_info t2  LEFT JOIN (select count(1) cnt,t3.project_id from worker_info t1,worker_staff_rel t2,project_staff t3
        where t1.register_id = t2.register_id
        and t2.staff_id = t3.staff_id
        and t3.is_signed = '1'
        group by project_id) t4 on t2.project_id = t4.project_id,company_info t3
        <where>
            t2.company_id = t3.company_id
            and t2.status not in ('1','6','7')
            and t2.project_name like concat('%', #{projectName}, '%')
        </where>
        order by t2.publish_date desc
        limit 0,#{queryCnt}

    </select>

</mapper>