<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectInfo">
    <id column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_industry" jdbcType="VARCHAR" property="projectIndustry" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="publish_date" jdbcType="DATE" property="publishDate" />
    <result column="period" jdbcType="DECIMAL" property="period" />
    <result column="contract_person" jdbcType="VARCHAR" property="contractPerson" />
    <result column="contract_phone" jdbcType="VARCHAR" property="contractPhone" />
    <result column="project_member_count" jdbcType="DECIMAL" property="projectMemberCount" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="on_spot" jdbcType="VARCHAR" property="onSpot" />
    <result column="file_material" jdbcType="VARCHAR" property="fileMaterial" />
    <result column="project_desc" jdbcType="VARCHAR" property="projectDesc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="fee" jdbcType="DECIMAL" property="fee" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="budget" jdbcType="VARCHAR" property="budget" />
  </resultMap>

  <select id="selectAll" resultMap="BaseResultMap">
    select project_id,project_name, company_id, project_industry, publish_date, period, contract_person,
    contract_phone, project_member_count, area, on_spot, file_material, project_desc, 
    remark, fee, status, budget
    from project_info
  </select>

</mapper>