<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectPaymentDetailMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectPaymentDetail">
    <id column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
  </resultMap>
  <resultMap id="SalaryMap" type="com.tuozuo.tavern.xinruyi.model.StaffSalaryInfo">
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="pay_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="id_number" jdbcType="VARCHAR" property="idNo" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="period" jdbcType="VARCHAR" property="month" />
  </resultMap>
  <insert id="insertInitial">
    insert into project_payment_detail(company_id,project_id,staff_id,period,pay_date,payment_id,salary)
    SELECT #{companyId},project_id,staff_id,#{month},#{payDate},#{paymentId},salary from project_staff
    WHERE project_id = #{projectId}
    and status = '2'
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select payment_id, company_id, project_id, staff_id, period, pay_date
    from project_payment_detail
  </select>

  <select id="selectStaffDetail" resultMap="SalaryMap">
    select
    t1.staff_id,t3.staff_name,t2.project_name,t1.salary,
    date_format(t1.pay_date ,'%Y%m%d') pay_date,t3.bank_card,t3.id_number,t3.gender,t1.period
    from project_payment_detail t1,project_info t2,staff_resource_pool t3
    <where>
      t1.project_id = t2.project_id
      and t1.staff_id = t3.staff_id
      <if test="companyId != null and companyId != ''">
        and  t1.company_id = #{companyId}
      </if>
      <if test="paymentId != null and paymentId != ''">
        and  t1.payment_id = #{paymentId}
      </if>
      <if test="projectId != null and projectId != ''">
        and  t1.project_id = #{projectId}
      </if>
      <if test="startDate != null and startDate != ''">
        and t1. pay_date >= STR_TO_DATE(#{startDate}, '%Y%m%d')
      </if>
      <if test="endDate != null and endDate != ''">
        and t1.pay_date <![CDATA[ <= ]]> STR_TO_DATE(#{endDate}, '%Y%m%d')
      </if>
      <if test="staffId != null and staffId != ''">
        and  t1.staff_id = #{staffId}
      </if>
    </where>
    order by pay_date desc

  </select>
  <select id="selectStaffInfo" resultMap="SalaryMap">
    select
    t1.staff_id,t3.staff_name,t2.project_name,t1.salary,
    date_format(t1.pay_date ,'%Y%m%d') pay_date,t3.bank_card,t3.id_number,t3.gender
    from project_payment_snapshot t4,project_payment_detail t1,project_info t2,staff_resource_pool t3
    <where>
      t1.project_id = t2.project_id
      and t4.payment_id = t1.payment_id
      and t1.staff_id = t3.staff_id
      and  t1.project_id = #{projectId}
    </where>
    order by pay_date desc

  </select>
</mapper>