<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.ProjectPaymentDetailMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.ProjectPaymentDetail">
    <id column="payment_id" jdbcType="VARCHAR" property="paymentId" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="project_id" jdbcType="VARCHAR" property="projectId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="pay_date" jdbcType="VARCHAR" property="payDate" />
  </resultMap>
  <insert id="insertInitial">
    insert into project_payment_detail(company_id,project_id,staff_id,period,pay_date,payment_id,salary)
    SELECT #{companyId},project_id,staff_id,#{month},#{payDate},#{paymentId},salary from project_staff
    WHERE project_id = #{projectId}
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select payment_id, company_id, project_id, staff_id, period, pay_date
    from project_payment_detail
  </select>
</mapper>