<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.StaffResourcePoolMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.StaffResourcePool">
    <id column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bank_branch" jdbcType="VARCHAR" property="bankBranch" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="is_valid" jdbcType="VARCHAR" property="isValid" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap id="SalaryMap" type="com.tuozuo.tavern.xinruyi.model.StaffSalaryInfo">
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="salary" jdbcType="DECIMAL" property="salary" />
    <result column="pay_date" jdbcType="VARCHAR" property="releaseDate" />
    <result column="bank_card" jdbcType="VARCHAR" property="bankCard" />
  </resultMap>
  <select id="selectByPage" resultMap="BaseResultMap">
    select company_id, staff_id,staff_name, gender, bank_card, bank, bank_branch, id_number, is_valid,
    update_date
    from staff_resource_pool
    where company_id = #{companyId}
    and is_valid = '1'
    order by update_date desc
  </select>
  <update id="delete">
    update staff_resource_pool set is_valid = '0' where staff_id = #{staffId}
  </update>
  <select id="selectSalary" resultMap="SalaryMap">
    select t.staff_name,t4.project_name,t1.salary,t3.pay_date,t.bank_card from
    staff_resource_pool t,project_staff t1,project_payment t2,project_payment_detail t3,project_info t4
    <where>
      t.staff_id = t1.staff_id
      and t1.project_id = t2.project_id
      and t2.payment_id = t3.payment_id
      and t1.project_id = t4.project_id
      and t.company_id = #{companyId}
      and t1.staff_id = #{staffId}
      <if test="projectId != null and projectId != ''">
        and t1.project_id  = #{projectId}
      </if>
      <if test="beginDate != null and beginDate != ''">
        and t3.pay_date  >= #{beginDate}
      </if>
      <if test="endDate != null and endDate != ''">
        and t3.pay_date  <![CDATA[ <= ]]> #{endDate}
      </if>
    </where>
  </select>

</mapper>