<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.WorkerInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.WorkerInfo">
    <id column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="id_pic_up" jdbcType="VARCHAR" property="idPicUp" />
    <result column="id_pic_back" jdbcType="VARCHAR" property="idPicBack" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
  </resultMap>
  <resultMap id="BaseWorkerSumMap" type="com.tuozuo.tavern.xinruyi.model.WorkerSummaryInfo">
    <result column="project_num" jdbcType="INTEGER" property="projectNum" />
    <result column="total_salary" jdbcType="VARCHAR" property="totalSalary" />
    <result column="is_certificate" jdbcType="VARCHAR" property="authStatus" />
  </resultMap>

  <select id="selectById" resultMap="BaseResultMap">
    select
    t1.*,
    t2.company_id,t3.company_name,t2.staff_id
    from worker_info t1,staff_resource_pool t2,company_info t3
    where t1.id_number = t2.id_number
    and t2.company_id = t3.company_id
    and t1.register_id = #{registerId}
  </select>
  <select id="selectWorkerSumInfo" resultMap="BaseWorkerSumMap">
    select count(1) project_num,sum(total_salary) total_salary,is_certificate from(
    select sum(t3.salary) total_salary,t1.is_certificate,t1.register_id from worker_info t1,worker_staff_rel t2 ,project_payment_detail t3
    where t1.register_id = t2.register_id
    and t2.staff_id = t3.staff_id
    and t1.register_id = #{registerId}
    group by t3.project_id) t group by register_id
  </select>
</mapper>