<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.xinruyi.mapper.WorkerInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.xinruyi.model.WorkerInfo">
    <id column="register_id" jdbcType="VARCHAR" property="registerId" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="sign_pic" jdbcType="VARCHAR" property="signPic" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="id_pic_up" jdbcType="VARCHAR" property="idPicUp" />
    <result column="id_pic_back" jdbcType="VARCHAR" property="idPicBack" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="company_id" jdbcType="VARCHAR" property="companyId" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
  </resultMap>
  <resultMap id="BaseWorkerSumMap" type="com.tuozuo.tavern.xinruyi.model.WorkerSummaryInfo">
    <result column="project_num" jdbcType="INTEGER" property="projectNum" />
    <result column="total_salary" jdbcType="VARCHAR" property="totalSalary" />
    <result column="is_certificate" jdbcType="VARCHAR" property="authStatus" />
  </resultMap>

  <select id="selectWorkerSumInfo" resultMap="BaseWorkerSumMap">
    SELECT
    t1.project_num,
    t1.is_certificate,
    t2.total_salary
    FROM
    (
    SELECT
    count( 1 ) project_num,
    is_certificate ,
    register_id
    FROM
    (
    SELECT
    t1.is_certificate,
    t1.register_id
    FROM
    worker_info t1,
    worker_staff_rel t2,
    project_staff t4
    WHERE
    t1.register_id = t2.register_id
    AND t2.staff_id = t4.staff_id
    AND t1.register_id = #{registerId}
    GROUP BY
    t4.project_id
    ) t1) t1,
    (
    SELECT
    sum( t3.salary ) total_salary,
    t2.register_id
    FROM
    worker_staff_rel t2,
    project_payment_detail t3
    WHERE
    t2.staff_id = t3.staff_id
    AND t2.register_id = #{registerId}
    ) t2
    WHERE
    t1.register_id = t2.register_id

  </select>
</mapper>