<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.corp.assist.mapper.CorporationClientInfoMapper">
    <resultMap id="BaseResultMap" type="com.tuozuo.tavern.corp.assist.model.CorporationClientInfo">
        <id column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="client_name" jdbcType="VARCHAR" property="clientName"/>
        <result column="client_number" jdbcType="VARCHAR" property="clientNumber"/>
        <result column="client_gender" jdbcType="VARCHAR" property="clientGender"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="contact_gender" jdbcType="VARCHAR" property="contactGender"/>
        <result column="alitalk" jdbcType="VARCHAR" property="alitalk"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="valid" jdbcType="VARCHAR" property="valid"/>
        <result column="operator" jdbcType="VARCHAR" property="operator" />
        <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
        <result column="source" jdbcType="VARCHAR" property="source" />
    </resultMap>
    <resultMap id="BaseResultsMap" type="com.tuozuo.tavern.corp.assist.model.CorporationClientTagInfo">
        <id column="client_id" jdbcType="VARCHAR" property="clientId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="client_name" jdbcType="VARCHAR" property="clientName"/>
        <result column="corp_id" jdbcType="VARCHAR" property="corpId"/>
        <result column="corp_name" jdbcType="VARCHAR" property="corpName"/>
        <result column="client_number" jdbcType="VARCHAR" property="clientNumber"/>
        <result column="client_gender" jdbcType="VARCHAR" property="clientGender"/>
        <result column="contact" jdbcType="VARCHAR" property="contact"/>
        <result column="contact_number" jdbcType="VARCHAR" property="contactNumber"/>
        <result column="contact_gender" jdbcType="VARCHAR" property="contactGender"/>
        <result column="alitalk" jdbcType="VARCHAR" property="alitalk"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="operator" jdbcType="VARCHAR" property="operator" />
        <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
        <result column="source" jdbcType="VARCHAR" property="source" />
        <collection property="tags" ofType="com.tuozuo.tavern.corp.assist.model.CorporationClientTagInfo"
                    resultMap="ClientTagMap"/>
    </resultMap>
    <resultMap id="ClientTagMap" type="com.tuozuo.tavern.corp.assist.model.CorporationTagInfo">
        <result column="tag_id" jdbcType="VARCHAR" property="tagId"/>
        <result column="tag_name" jdbcType="VARCHAR" property="tagName"/>
    </resultMap>

    <select id="selectClientsByUserIds" resultMap="BaseResultMap">
        select t1.client_id, t1.user_id,t1.client_name, t1.client_number, t1.client_gender, t1.contact, t1.contact_number,
        t1.contact_gender, t1.alitalk,  date_format(t1.create_time , '%Y-%m-%d %H:%i:%S') create_time,
        t1.operator,t1.operator_id,t1.source,
        t1.valid from corporation_client_info t1
        <where>
            <foreach collection="list" item="item" open="(" close=")" separator="or">
                t1.user_id = #{item}
            </foreach>
        </where>
    </select>
    <select id="selectClients" resultMap="BaseResultsMap">
        select t1.client_id, t1.user_id,t1.client_name, t1.client_number, t1.client_gender, t1.contact, t1.contact_number,
        t1.contact_gender, t1.alitalk,  date_format(t1.create_time , '%Y-%m-%d %H:%i:%S') create_time,
        t1.operator,t1.operator_id,t1.source,
        t1.valid,t3.tag_id,t3.tag_name,t4.corp_id,t4.corp_name
        from corporation_client_info t1 left join corporation_info t4 on t1.corp_id = t4.corp_id left join
        corporation_client_tag_rel t2 on t1.client_id = t2.client_id  left join corporation_tag_info t3 on t2.tag_id = t3.tag_id
        <where>
            t1.valid = 1
        <if test="tagName != null and tagName != ''">
            and t3.tag_name like concat('%', #{tagName}, '%')
        </if>
        <if test="clientName != null and clientName != ''">
            and t1.client_name like concat('%', #{clientName}, '%')
        </if>
        </where>
        order by t1.create_time desc
    </select>
    <select id="selectAllClients" resultMap="BaseResultsMap">
        select t1.client_id, t3.tag_id,t3.tag_name
        from corporation_client_info t1 left join corporation_info t4 on t1.corp_id = t4.corp_id left join
        corporation_client_tag_rel t2 on t1.client_id = t2.client_id  left join corporation_tag_info t3 on t2.tag_id = t3.tag_id
        <where>
            t1.valid = 1
        <if test="clientName != null and clientName != ''">
            and t1.client_name like concat('%', #{clientName}, '%')
        </if>
        </where>
        order by t1.create_time desc
    </select>
    <select id="selectClientDetail" resultMap="BaseResultsMap">
        select t1.client_id, t1.user_id,t1.client_name, t1.client_number, t1.client_gender, t1.contact, t1.contact_number,
        t1.contact_gender, t1.alitalk,  date_format(t1.create_time , '%Y-%m-%d %H:%i:%S') create_time,
        t1.operator,t1.operator_id,t1.source,
        t1.valid,t3.tag_id,t3.tag_name,t4.corp_id,t4.corp_name
        from corporation_client_info t1 left join corporation_info t4 on t1.corp_id = t4.corp_id left join
        corporation_client_tag_rel t2 on t1.client_id = t2.client_id  left join corporation_tag_info t3 on t2.tag_id = t3.tag_id
        <where>
            t1.valid = 1
        <if test='type != null and type == "1"'>
            and t1.client_id = #{clientId}
        </if>
         <if test='type != null and type == "2"'>
            and t1.user_id = #{clientId}
        </if>
        </where>
    </select>
    <select id="selectClientsCnt" resultType="int">
        select count(1) from
        ( select t1.*
            from corporation_client_info t1 left join corporation_info t4 on t1.corp_id = t4.corp_id left join
            corporation_client_tag_rel t2 on t1.client_id = t2.client_id  left join corporation_tag_info t3 on t2.tag_id = t3.tag_id
            <where>
                t1.valid = 1
            <if test="tagName != null and tagName != ''">
                and t3.tag_name like concat('%', #{tagName}, '%')
            </if>
            <if test="clientName != null and clientName != ''">
                and t1.client_name like concat('%', #{clientName}, '%')
            </if>
            </where>
            group by t1.client_id
        ) t
    </select>
    <select id="selectClientsFromApp" resultMap="BaseResultsMap">
        select t1.client_id, t1.user_id,t1.client_name, t1.client_number, t1.client_gender, t1.contact, t1.contact_number,
        t1.contact_gender, t1.alitalk,  date_format(t1.create_time , '%Y-%m-%d %H:%i:%S') create_time,
        t1.operator,t1.operator_id,t1.source,
        t1.valid,t3.tag_id,t3.tag_name,t4.corp_id,t4.corp_name
        from corporation_client_info t1 left join corporation_info t4 on t1.corp_id = t4.corp_id left join
        corporation_client_tag_rel t2 on t1.client_id = t2.client_id  left join corporation_tag_info t3 on t2.tag_id = t3.tag_id
        <where>
            t1.valid = 1
            <if test="tagName != null and tagName != ''">
                and t3.tag_name like concat('%', #{tagName}, '%')
            </if>
            <if test="clientName != null and clientName != ''">
                and t1.client_name like concat('%', #{clientName}, '%')
            </if>
            and
            (
            t1.create_time <![CDATA[ < ]]> STR_TO_DATE(#{createTime}, '%Y-%m-%d %H:%i:%S')
            or (t1.create_time = STR_TO_DATE(#{createTime}, '%Y-%m-%d %H:%i:%S') and t1.client_id <![CDATA[ < ]]>
            #{clientId,jdbcType=VARCHAR})
            )
        </where>
        order by t1.create_time desc,t1.client_id desc
        limit 0,20
    </select>

    <select id="selectClientCorpInfo" parameterType="list" resultType="com.tuozuo.tavern.corp.assist.model.CorporationClientCorpInfo">
        select t1.client_id clientId,
        t1.user_id userId,
        t1.client_name clientName,
        t1.client_number clientNumber,
        t1.client_gender clientGender,
        t1.contact contact,
        t1.contact_number contactNumber,
        t1.contact_gender contactGender,
        t1.alitalk,t2.corp_id corpId,
        t2.corp_name corpName,
        t2.corp_type corpType,
        t2.tax_type corpType,
        t2.register_park registerPark,
        t2.corp_status corpStatus,
        t2.boss_name bossName,
        t2.boss_number bossNumber,
        t2.boss_gender bossGender,
        t2.boss_id_number bossIdNumber,
        t2.business_scope businessScope,
        t2.register_date registerDate,
        t2.register_asset registerAsset
        from corporation_client_info t1 left join corporation_client_rel t3 on t1.client_id = t3.client_id
        left join corporation_info t2 on t3.corp_id  = t2.corp_id
        <where>
            <foreach collection="list" index="index" item="item" open="( " close=" )" separator="or">
                t1.client_id = #{item}
            </foreach>
        </where>
    </select>
</mapper>