<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.corp.assist.mapper.CorporationInfoMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.corp.assist.model.CorporationInfo">
    <result column="corp_id" jdbcType="VARCHAR" property="corpId" />
    <result column="corp_name" jdbcType="VARCHAR" property="corpName" />
    <result column="corp_type" jdbcType="VARCHAR" property="corpType" />
    <result column="tax_type" jdbcType="VARCHAR" property="taxType" />
    <result column="register_park" jdbcType="VARCHAR" property="registerPark" />
    <result column="corp_status" jdbcType="VARCHAR" property="corpStatus" />
    <result column="boss_name" jdbcType="VARCHAR" property="bossName" />
    <result column="boss_number" jdbcType="VARCHAR" property="bossNumber" />
    <result column="boss_gender" jdbcType="VARCHAR" property="bossGender" />
    <result column="boss_id_number" jdbcType="VARCHAR" property="bossIdNumber" />
    <result column="business_scope" jdbcType="VARCHAR" property="businessScope" />
    <result column="register_date" jdbcType="DATE" property="registerDate" />
    <result column="register_asset" jdbcType="DECIMAL" property="registerAsset" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="valid" jdbcType="VARCHAR" property="valid" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="operator_id" jdbcType="VARCHAR" property="operatorId" />
    <result column="source" jdbcType="VARCHAR" property="source" />
  </resultMap>
  <insert id="insert" parameterType="com.tuozuo.tavern.corp.assist.model.CorporationInfo">
    insert into corporation_info (corp_id, corp_name, corp_type, 
      tax_type, register_park, corp_status, 
      boss_name, boss_number, boss_gender, 
      boss_id_number, business_scope, register_date, 
      register_asset, create_time, valid, 
      operator, operator_id, source
      )
    values (#{corpId,jdbcType=VARCHAR}, #{corpName,jdbcType=VARCHAR}, #{corpType,jdbcType=VARCHAR}, 
      #{taxType,jdbcType=VARCHAR}, #{registerPark,jdbcType=VARCHAR}, #{corpStatus,jdbcType=VARCHAR}, 
      #{bossName,jdbcType=VARCHAR}, #{bossNumber,jdbcType=VARCHAR}, #{bossGender,jdbcType=VARCHAR}, 
      #{bossIdNumber,jdbcType=VARCHAR}, #{businessScope,jdbcType=VARCHAR}, #{registerDate,jdbcType=DATE}, 
      #{registerAsset,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, #{valid,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operatorId,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}
      )
  </insert>
  <select id="selectByPage" resultMap="BaseResultMap">
    select t1.corp_id, t1.corp_name, t1.corp_type, t1.tax_type, t1.register_park, t1.corp_status, t1.boss_name,
    t1.boss_number, t1.boss_gender, t1.boss_id_number, t1.business_scope, t1.register_date, t1.register_asset,
    t1.create_time, t1.valid, t1.operator, t1.operator_id, t1.source
    from corporation_info t1 left join corporation_client_info t2
    on t1.corp_id = t2.corp_id
    <where>
      <if test="corpName != null and corpName != ''">
       and t1.corp_name like concat('%', #{corpName}, '%')
      </if>
      <if test="clientName != null and clientName != ''">
        and t2.client_name like concat('%', #{clientName}, '%')
      </if>
      and t1.valid = '1'
    </where>
    order by t1.create_time desc
  </select>
  <select id="selectFromApp" resultMap="BaseResultMap">
    select t1.corp_id, t1.corp_name, t1.corp_type, t1.tax_type, t1.register_park, t1.corp_status, t1.boss_name,
    t1.boss_number, t1.boss_gender, t1.boss_id_number, t1.business_scope, t1.register_date, t1.register_asset,
    t1.create_time, t1.valid, t1.operator, t1.operator_id, t1.source
    from corporation_info t1 left join corporation_client_info t2
    on t1.corp_id = t2.corp_id
    <where>
      <if test="corpName != null and corpName != ''">
        and t1.corp_name like concat('%', #{corpName}, '%')
      </if>
      <if test="clientName != null and clientName != ''">
        and t2.client_name like concat('%', #{clientName}, '%')
      </if>
      and t1.valid = 1
      and
      (
      t1.create_time <![CDATA[ < ]]> STR_TO_DATE(#{createTime}, '%Y-%m-%d %H:%i:%S')
      or (t1.create_time = STR_TO_DATE(#{createTime}, '%Y-%m-%d %H:%i:%S') and t1.corp_id <![CDATA[ < ]]>
      #{corpId,jdbcType=VARCHAR})
      )
    </where>
    order by t1.create_time desc,t1.corp_id desc
    limit 0,20
  </select>
</mapper>