<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuozuo.tavern.corp.assist.mapper.CorporationContractFlowMapper">
  <resultMap id="BaseResultMap" type="com.tuozuo.tavern.corp.assist.model.CorporationContractFlow">
    <id column="flow_id" jdbcType="VARCHAR" property="flowId" />
    <result column="staff_id" jdbcType="VARCHAR" property="staffId" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="template_field" jdbcType="VARCHAR" property="templateField" />
    <result column="contract_signed_url" jdbcType="VARCHAR" property="contractSignedUrl" />
    <result column="contract_signed_pic_url" jdbcType="VARCHAR" property="contractSignedPicUrl" />
    <result column="contract_signed_path" jdbcType="VARCHAR" property="contractSignedPath" />
    <result column="contract_date" jdbcType="TIMESTAMP" property="contractDate" />
    <result column="client_name" jdbcType="VARCHAR" property="clientName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from company_contract_flow
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.tuozuo.tavern.corp.assist.model.CorporationContractFlow">
    insert into company_contract_flow (flow_id, staff_id, template_id, 
      template_field, contract_signed_url, contract_signed_pic_url, 
      contract_signed_path, contract_date, client_name
      )
    values (#{flowId,jdbcType=VARCHAR}, #{staffId,jdbcType=VARCHAR}, #{templateId,jdbcType=VARCHAR}, 
      #{templateField,jdbcType=VARCHAR}, #{contractSignedUrl,jdbcType=VARCHAR}, #{contractSignedPicUrl,jdbcType=VARCHAR}, 
      #{contractSignedPath,jdbcType=VARCHAR}, #{contractDate,jdbcType=TIMESTAMP}, #{clientName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.tuozuo.tavern.corp.assist.model.CorporationContractFlow">
    update company_contract_flow
    set staff_id = #{staffId,jdbcType=VARCHAR},
      template_id = #{templateId,jdbcType=VARCHAR},
      template_field = #{templateField,jdbcType=VARCHAR},
      contract_signed_url = #{contractSignedUrl,jdbcType=VARCHAR},
      contract_signed_pic_url = #{contractSignedPicUrl,jdbcType=VARCHAR},
      contract_signed_path = #{contractSignedPath,jdbcType=VARCHAR},
      contract_date = #{contractDate,jdbcType=TIMESTAMP},
      client_name = #{clientName,jdbcType=VARCHAR}
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select flow_id, staff_id, template_id, template_field, contract_signed_url, contract_signed_pic_url, 
    contract_signed_path, contract_date, client_name
    from company_contract_flow
    where flow_id = #{flowId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select flow_id, staff_id, template_id, template_field, contract_signed_url, contract_signed_pic_url, 
    contract_signed_path, contract_date, client_name
    from company_contract_flow
  </select>
</mapper>